---
import { Icon } from "astro-icon/components";

import cn from "@/shared/lib/cn";

interface Props {
  label: string;
  icon?: string;
  type?: "button" | "link" | "submit";

  href?: string;

  rounded?: boolean;
  color?: "primary" | "white";
}

const {
  label,
  icon,
  type = "button",
  href,
  rounded,
  color = "primary",
} = Astro.props;

const hasTitle = Astro.slots.has("title");

console.log(icon);
---

{
  type === "link" ? (
    <a
      data-color={color}
      class={cn("button-container", rounded && "rounded-full")}
      href={href}
    >
      <div class={cn(rounded && "rounded-full")}>{label}</div>
      {icon ? (
        <div class={cn(rounded && "rounded-full")}>
          <Icon name={icon} class="h-6 w-6" />
        </div>
      ) : null}
    </a>
  ) : (
    <button
      data-color={color}
      class={cn("button-container", rounded && "rounded-full")}
    >
      <div class={cn(rounded && "rounded-full")}>{label}</div>
      {icon ? (
        <div class={cn(rounded && "rounded-full")}>
          <Icon name={icon} class="h-6 w-6" />
        </div>
      ) : null}
    </button>
  )
}
