---
// TODO: Refactor on Load Font
import "@fontsource-variable/geist";
import geistWoff2 from "@fontsource-variable/geist/files/geist-latin-wght-normal.woff2?url";

import "@/app/styles/global.css";

import cn from "@/shared/lib/cn";

import Header from "./Header/index.astro";
import Footer from "./Footer.astro";

interface Props {
  title: string;
  keyword: string;
  description: string;
  containerClass?: string;
}

const { title, keyword, description, containerClass } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="keywords" content={keyword} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <link
      rel="preload"
      href={geistWoff2}
      as="font"
      type="font/woff2"
      crossorigin
    />
    <title>{title}</title>
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta
      name="google-site-verification"
      content="mXHHuKNjmt9G8Yl1I53YTOclJj9kQNBwqRn1Eb7JdGE"
    />
    <script is:inline>
      let currentTheme;
      const storageTheme = localStorage.getItem("theme");
      if (!storageTheme) {
        const preferredTheme = window.matchMedia("(prefers-color-scheme: dark)")
          .matches
          ? "dark"
          : "light";
        localStorage.setItem("theme", preferredTheme);
        currentTheme = preferredTheme;
      } else {
        currentTheme = storageTheme;
      }
      if (currentTheme === "dark") {
        document.documentElement.classList.add("dark");
      } else {
        document.documentElement.classList.remove("dark");
      }
      window.__THEME__ = currentTheme;
    </script>
  </head>
  <body>
    <Header />
    <main class={cn("grow", containerClass)}>
      <slot />
    </main>
    <Footer />
  </body>
</html>
