---
import { sanityClient } from 'sanity:client'

import Layout from 'src/layouts/Layout.astro'

import HeaderSection from 'src/modules/Home/components/Header.astro'
import BlogSection from 'src/modules/Home/components/Blog.astro'
import PortofolioSection from 'src/modules/Home/components/Portofolio'
import SkillsSection from 'src/modules/Home/components/Skills'

interface Content {
  name: string
  role: string
  description: string
  picture: string
  skills: Array<Skill>
}

const page: Page = await sanityClient.fetch(
  `*[_type == "page" && title == 'Home'][0]`
)

const contacts: Array<Contact> = await sanityClient.fetch(
  `*[_type == "contact"]`
)

const projects: Array<Project> = await sanityClient.fetch(
  `*[_type == "project"][0..4]{
    'id': _id,
    title,
    client,
    site,
    tags,
    projectDescription,
    'startDate': duration.start,
    'endDate': duration.end,
    coverImage
  } | order(duration.end asc)`
)

const posts: Array<Post> = await sanityClient.fetch(
  `*[_type == "post"][0..4]{
    'id': _id,
    title,
    keyword,
    description,
    'slug': slug.current,
    coverImage,
    content,
    tags,
    'date': dateTime(date),
    coverImage
  } | order(_updatedAt asc)`
)

const content: Content = page.jsonContent ? JSON.parse(page.jsonContent) : null
---

<Layout title={page.title} description={page.description} keyword={page.keyword}>
  <div>
    <HeaderSection
      name={content.name}
      description={content.description}
      image={content.picture}
      role={content.role}
      contacts={contacts}
    />

    <SkillsSection client:visible data={content.skills} />
    <PortofolioSection client:visible data={projects} />
    <BlogSection data={posts} />
  </div>
</Layout>
