---
import { Icon } from "astro-icon/components";

import type { BlockContent } from "@/entities/blockContent/model/type";
import type { Skill } from "@/entities/skill/model/type";

import Button from "@/shared/ui/Button/index.astro";

interface Props {
  data: BlockContent;
  skills: Skill[];
}

const { data, skills } = Astro.props;

const title = data.content?.[0].value;
const subtitle = data.content?.[1].value;
const subtitle2 = data.content?.[2].value;
const action = data.content?.[3].value || "";
---

<section class="flex h-screen flex-col justify-between">
  <div
    class="container mx-auto flex w-full grow flex-col justify-center px-6 md:px-8"
  >
    <div>
      <div class="mb-16 flex flex-col gap-2.5">
        <span
          class="text-on-surface dark:text-surface text-sm uppercase md:text-2xl"
          >{title}
        </span>
        <h1
          class="text-on-surface dark:text-surface text-2xl font-black uppercase md:text-7xl"
        >
          {subtitle}
        </h1>
        <!-- TODO: Decorative Icon -->
        <h1
          class="text-on-surface dark:text-surface text-2xl font-black uppercase md:text-7xl"
        >
          {subtitle2}
        </h1>
      </div>
      <!-- TODO: Arrow Icon -->
      <Button label={action} rounded color="primary" icon="A" />
    </div>
  </div>
  <div class="bg-primary w-full py-8">
    <div class="overflow-hidden whitespace-nowrap">
      <div
        class="flex w-max animate-[var(--animation-marquee)] hover:[animation-play-state:paused]"
      >
        {
          skills.map((skill) => (
            <div class="mx-6 flex flex-row items-center gap-5">
              <Icon name={skill.icon.name} class="text-4xl text-white" />
              <span class="text-2xl font-bold text-white">{skill.name}</span>
            </div>
          ))
        }
        {
          skills.map((skill) => (
            <div class="mx-6 flex flex-row items-center gap-5">
              <Icon name={skill.icon.name} class="text-4xl text-white" />
              <span class="text-2xl font-bold text-white">{skill.name}</span>
            </div>
          ))
        }
      </div>
    </div>
  </div>
</section>
